$font-1:"PT Sans";
$font-2:"Exo 2";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .continer {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
}

@import "./header";
@import "./poisk.scss";



@media screen and (max-width-990px) {
    .continer{
        max-width: 720px;
    }
}
@media screen and (max-width-720px) {
    .continer{
        max-width: 650px;
    }
}
@media screen and (max-width-650pxpx) {
    .continer{
        max-width: 500pxpx;
    }
}
@media screen and (max-width-500px) {
    .continer{
        max-width: 300px;
    }
}
